<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table border>
	<thead>
		<tr>
			<th>Playlist ID</th>
			<th>Playlist Name</th>
			<th>Playlist Songs</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="pl:${plist}">
			<td th:text="${pl.id}"></td>
			<td th:text="${pl.name}"></td>
			<td>
				<ul>
					<li th:each="s:${pl.songs}">
						<audio controls>
							<source th:src="${s.link}" type="audio/mpeg">
						</audio>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

</body>
</html>